
<footer>
<div class="footerContainer">
    <div class="leftContainer">
        <!-- <h1>Ubicación</h1> -->
            <!-- <div class="lineContainer">
            </div> -->
        <a class="spanContainer"><span></span>Terminos y Condiciones</a>
        <a class="spanContainer"><span></span>Aviso de Privacidad</a>
        <a class="spanContainer"><span></span>Centro de Ayuda</a>
        <a class="spanContainer"><span></span>Política de envío</a>
        
        
    </div>
        <div class="centerContainer">
            <p class="spanContainer"><span></span>Siguenos en </p>
            <a class="spanContainer"><span><i class="fa fa-facebook-square" aria-hidden="true"></i></span>Muebleria Endama</a>
            <a class="spanContainer"><span><i class="fa fa-whatsapp" aria-hidden="true"></i></span> +55 238 234 5451</a>
           

        </div>
        <div class="rightContainer">
            <p>Horarios de atención</p>
            <p>Lunes a Viernes de 9:00am a 8:00 pm </p>
            <p>Sabados de 9:00am a 3:00 pm </p>
        </div>
  
</div>
</footer>