<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
     <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../assets/carrusel4.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/carrusel6.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/carrusel8.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
   
    <div class="subtitle">
      <h1 class="">Nuevos Productos</h1>
    </div>

    <!-- cards nuevos productos  -->
    <div class="cardSection">
  <!-- Card 1  -->
  <div class="cardContainer">
    <div class="imageContainer">
      <img src="../../assets/card1.png"  class="imageCard"/>
      <div class="wishList">
        <button class="">
        <span class="wish"></span>
      </button>
          </div>
    </div>
    <div class="containerContent">
      <h3>Mesa de Trabajo color Gris con Café </h3>
      <div class="containerPrice">
        <p>$2500</p>
      </div>
      <button>Añadir al carrito</button>
    </div>
  </div>
    <!-- Card 2  -->
    <div class="cardContainer">
      <div class="imageContainer">
        <img src="../../assets/card4.jpg"  class="imageCard"/>
        <div class="wishList">
          <button class="">
          <span class="wish"></span>
        </button>
            </div>
      </div>
      <div class="containerContent">
        <h3>Litera El Club Individual Facil Armado </h3>
        <div class="containerPrice">
          <p>$10500</p>
        </div>
        <button>Añadir al carrito</button>
      </div>
    </div>
      <!-- Card 3  -->
  <div class="cardContainer">
    <div class="imageContainer">
      <img src="../../assets/card2.png"  class="imageCard"/>
      <div class="wishList">
        <button class="">
        <span class="wish"></span>
      </button>
          </div>
    </div>
    <div class="containerContent">
      <h3>Silla España color Beige estilo Cotemporáneo</h3>
      <div class="containerPrice">
        <p>$900</p>
      </div>
      <button>Añadir al carrito</button>
    </div>
  </div>
    <!-- Card 4  -->
    <div class="cardContainer">
      <div class="imageContainer">
        <img src="../../assets/card3.png"  class="imageCard"/>
        <div class="wishList">
          <button class="">
          <span class="wish"></span>
        </button>
            </div>
      </div>
      <div class="containerContent">
        <h3>
          
          Ropero Olivo Fresno 90 cm para tu Habitación</h3>
        <div class="containerPrice">
          <p>$1600</p>
        </div>
        <button>Añadir al carrito</button>
      </div>
    </div>

    </div>
    <div class="subtitle">
      <h1 class="">Más Vendidos</h1>
    </div>


 


      <!-- cards mas vendidos   -->
      <div class="cardSection">
        <!-- Card 1  -->
        <div class="cardContainer">
          <div class="imageContainer">
            <img src="../../assets/card5.png"  class="imageCard"/>
            <div class="wishList">
              <button class="">
              <span class="wish"></span>
            </button>
                </div>
          </div>
          <div class="containerContent">
            <h3>Mesa Lateral Cuadros Contemporánea Gris</h3>
            <div class="containerPrice">
              <p>$799</p>
            </div>
            <button>Añadir al carrito</button>
          </div>
        </div>
          <!-- Card 2  -->
          <div class="cardContainer">
            <div class="imageContainer">
              <img src="../../assets/card6.png"  class="imageCard"/>
              <div class="wishList">
                <button class="">
                <span class="wish"></span>
              </button>
                  </div>
            </div>
            <div class="containerContent">
              <h3>Mesa de Centro Puffland Café </h3>
              <div class="containerPrice">
                <p>$1,899</p>
              </div>
              <button>Añadir al carrito</button>
            </div>
          </div>
            <!-- Card 3  -->
        <div class="cardContainer">
          <div class="imageContainer">
            <img src="../../assets/card7.png"  class="imageCard"/>
            <div class="wishList">
              <button class="">
              <span class="wish"></span>
            </button>
                </div>
          </div>
          <div class="containerContent">
              
            <h3>Mesa para Televisión Damasco Gris</h3>
            <div class="containerPrice">
              <p>$3,399</p>
            </div>
            <button>Añadir al carrito</button>
          </div>
        </div>
          <!-- Card 4  -->
          <div class="cardContainer">
            <div class="imageContainer">
              <img src="../../assets/card8.png"  class="imageCard"/>
              <div class="wishList">
                <button class="">
                <span class="wish"></span>
              </button>
                  </div>
            </div>
            <div class="containerContent">
              <h3>
                
                Mesa para Televisión Trento Café</h3>
              <div class="containerPrice">
                <p>$4600</p>
              </div>
              <button>Añadir al carrito</button>
            </div>
          </div>
      
          </div>
  </body>
</html>
